{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>eXegesis</title>
  <link rel="stylesheet" type="text/css" href="{% static "paper.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "style2.css" %}">
  <script type="text/javascript" src="{% static "jquery_3_1_1.min.js" %}"></script>
  <script type="text/javascript" src="{% static "bootstrap_3_3_7.min.js" %}"></script>
</head>
<body>

  <nav class="navbar navbar-inverse">
    <div class="container-fluid svg-nav">
      <div class="navbar-header">
        <a class="navbar-brand" href="/exegesis/projects">
          <div class="logo"><img src="{% static "logo.png" %}"></div>
          <div class="name">{{ project }}</div>
        </a>
      </div>   
    </div>
  </nav>

  <div >
    <div class="container-fluid div-share">
      <div class="col-sm-3 head-index">
        <span class="glyphicon glyphicon-chevron-left back-link"></span><a class="no-link" href="/exegesis/artboards">Back to Dashboard</a>
      </div>
      <div class="col-sm-6 head-index">
        <strong>{{ artboard }}</strong>
      </div>
      <div class="col-sm-3">
      </div>
    </div>
    <div class="container-fluid div-main">
      <div class="col-sm-3">
      </div>
      <div class="col-sm-6 div-image" id="image">
        {% include url %}

        <script type="text/javascript">
          var jEscape = function(jquery) {
            jquery = jquery.replace(new RegExp("\\@", "g"), "\\@");
            jquery = jquery.replace(new RegExp("\\?", "g"), "\\?");
            jquery = jquery.replace(new RegExp("\\-", "g"), "\\-");
            jquery = jquery.replace(new RegExp("\\.", "g"), "\\.");
            jquery = jquery.replace(new RegExp("\\(", "g"), "\\(");
            jquery = jquery.replace(new RegExp("\\)", "g"), "\\)");
            jquery = jquery.replace(new RegExp("\\%", "g"), "\\%");
            jquery = jquery.replace(new RegExp("\\!", "g"), "\\!");
            jquery = jquery.replace(new RegExp("\\#", "g"), "\\#");
            jquery = jquery.replace(new RegExp("\\$", "g"), "\\$");
            jquery = jquery.replace(new RegExp("\\^", "g"), "\\^");
            jquery = jquery.replace(new RegExp("\\~", "g"), "\\~");
            jquery = jquery.replace(new RegExp("\\&", "g"), "\\&");
            jquery = jquery.replace(new RegExp("\\_", "g"), "\\_");
            jquery = jquery.replace(new RegExp("\\;", "g"), "\\;");
            jquery = jquery.replace(new RegExp("\\<", "g"), "\\<");
            jquery = jquery.replace(new RegExp("\\>", "g"), "\\>");
            return jquery;
          };

          var obj = {{ annotations|safe }};
        // console.log(obj);
        var object;
        var count = obj[0];
        var full_list = '';
        var current_idq = '';
        var current_idq_select = ''
        for(var i = 0; i < obj.length; i++) {
          if (obj[i]['type'] === 'text') {
            id = obj[i]['id'];
            for (var j = i + 1; j < obj.length; j++) {
              if (obj[j]['type'] != 'tspan') {
                break;
              }
              else {
                document.getElementsByTagName('tspan')[count].setAttribute('parent', id);
                count++;
              }
            }
          }
        }

        $('svg').on('mouseover', function(e) {
          if (current_idq_select != current_idq) {
            $(current_idq).removeAttr('style');
          }
          var parent = '';
          outer = e.target.outerHTML;
          outer = outer.split(' ');
          for (var i=0; i < outer.length; i++){
            if (outer[i].startsWith('parent')) {
              parent = outer[i].split("\"")[1];
            }
          }
          if (parent !== '') {
            idq = jEscape(parent);
            idq = '#' + idq;
            current_idq = idq;
            if (current_idq_select != current_idq) {
              $(idq).css('stroke', 'orange');
            }
          }
          else {
            id = ''
            for (var i=0; i < outer.length; i++){
              if (outer[i].startsWith('id')) {
                var id = outer[i].split('\"')[1];
                break;
              }
            }
            if (id !== '') {
              idq = jEscape(id)
              idq = '#' + idq;
              current_idq = idq;
              if (current_idq_select != current_idq) {
                $(idq).css('stroke', 'orange');
              }
            }
          }
        });

        $('svg').on('click', function(e){
          console.log('click');
          $(current_idq_select).removeAttr('style');
          var parent = '';
          outer = e.target.outerHTML;
          outer = outer.split(' ');
          for (var i=0; i < outer.length; i++){
            if (outer[i].startsWith('parent')) {
              parent = outer[i].split("\"")[1];
            }
          }
          if (parent !== '') {
            idq = jEscape(parent);
            idq = '#' + idq;
            current_idq_select = idq
            $(idq).css('stroke', 'yellow');
            for (var i = 0; i < obj.length; i++) {
              if (obj[i]['id'] === parent) {
                displayAnnotations(obj[i]);
                break;
              }
            }
            if (obj[i]['type'] == 'text') {
              for (var j = i + 1; j < obj.length; j++) {
                if (obj[j]['type'] != 'tspan') {
                  full_list = ''
                  break;
                }
                else {
                  object = obj[j];
                  displayAnnotations(object);
                }
              }
            }
          }
          else {
            id = ''
            for (var i=0; i < outer.length; i++){
              if (outer[i].startsWith('id')) {
                var id = outer[i].split('\"')[1];
                break;
              }
            }
            if (id !== '') {
              idq = jEscape(id)
              idq = '#' + idq;
              current_idq_select = idq
              $(idq).css('stroke', 'yellow');
              for (var i = 0; i < obj.length; i++) {
                if (obj[i]['id'] === id) {
                  object = obj[i];
                  displayAnnotations(object);
                  full_list = '';
                  break;
                }
              }
            }
          }
          function displayAnnotations(object) {
            for (var key in object) {
              if (key === 'type' || key == 'id') {
                continue;
              }
              if (object.hasOwnProperty(key)) {
                value = object[key];
                key = key.bold();
                full_list = full_list + '<li>' + key + ': ' + value + '</li>';
              }
            }
            full_list += '<br />';
            $("#annotations").html(full_list);
          }
          full_list = '';
        });
        function zoomin() {
          $('svg').width(
            $('svg').width() * 1.2
            );

          $('svg').height(
            $('svg').height() * 1.2
            );
        }
        function zoomout() {
          $('svg').width(
            $('svg').width() * 0.5
            );

          $('svg').height(
            $('svg').height() * 0.5
            );
        }
      </script>
    </div>
    <div class="col-sm-3 annotate" id="annotations">
    </div>
  </div>
</div>
<div class="foot-left">
  <button class="btn" id="zoom-in" onclick="zoomin()"><span class="glyphicon glyphicon-plus"></span></button>
  <button class="btn" id="zoom-out" onclick="zoomout()"><span class="glyphicon glyphicon-minus"></span></button>
  <a class="no-link" href="/exegesis/revisions?artboard={{artboard}}&uuid={{artboard_uuid}}"><button class="btn">View Revisions</button></a>
</div>
<div class="write-note" data-toggle="modal" data-target="#write-note">
  <button class="btn"><span class="glyphicon glyphicon-pencil"></span></button>
</div>
<div class="view-note" data-toggle="modal" data-target="#view-notes">
  <button class="btn"><span class="glyphicon glyphicon-eye-open"></span></button>
</div>

<div class="modal fade" id="write-note" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Write a note</h4>
      </div>
      <div class="modal-body">
        <form class = "form-main-class" action="/exegesis/write_note/" method="post">
          {% csrf_token %}
          <input class="input-class text" type="text" id="note" name="note" placeholder="Write a note..." required /><br>
          <input class="input-class text none" type="text" id="location" name="location" value="{{url}}"/><br>
          <button  class="btn div-share" type="submit">WRITE</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="view-notes" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Notes</h4>
      </div>
      <div class="modal-body">
        {% if notes %}
        <ul>
          {% for note in notes %}
          <li><strong>{{note.user.email}}: </strong>{{note.note}}</li>
          {% endfor %}
        </ul>
        {% endif %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

</body>
</html>